* {
  margin: 0;
  padding: 0;
  /* background-color: aqua; */
  /* just to check css work or not */
  /* @apply bg-red-500;   */
  /* check tailwid work or not */
}
/* default  */
img {
  width: 100%;
  height: 100%;
}
a {
  @apply no-underline text-black;
}
/* :default end  */
.containers {
  @apply container m-auto;
}
/* Header area Start */
.header {
  @apply flex justify-between mt-4 fixed top-0 right-0 left-0;
}
.logo {
  @apply w-40;
}

/* home secrton start  */
.body-main {
  @apply mt-24;
}
.home-intro {
  @apply flex items-center w-8/12 m-auto text-center flex-col mb-20;
}
.intro-img {
  @apply w-7/12;
}
.intro-text {
  @apply text-4xl leading-none;
}
.intro-text p {
  @apply text-3xl text-center font-normal mt-6;
}
.intro-text button {
  @apply bg-blue-700 py-6 px-12 rounded-full text-white text-2xl mt-10;
}
/* Approach area start  */
.approach {
  @apply w-2/4;
}
.approach h1 {
  @apply text-6xl leading-tight;
}
.approach p {
  @apply text-2xl my-16 text-left text-gray-500;
}
.approach a {
  @apply underline text-blue-700 text-2xl font-bold;
}
/* framework desctiption start here  */
.framework {
  @apply flex;
}
.framwork-box {
  @apply w-11/12 mt-20;
}
.framwork-box h5 {
  @apply text-3xl;
}
.framwork-box p {
  @apply text-xl text-gray-500;
}
/* Documentaion start  */
.documentaion {
  @apply flex;
}
.docs-menu {
  @apply flex flex-col fixed mt-24;
}
.docs-menu a {
  @apply mt-8;
}
/* Installation start  */
.install {
  @apply ml-48;
}
.install a {
  @apply text-blue-600 font-bold;
}
.install h2 {
  @apply text-6xl my-20;
}
.install h3 {
  @apply text-4xl mt-24 mb-6 font-bold;
}
.install p {
  @apply text-2xl mb-10;
}
.box {
  @apply bg-black text-white py-10 pl-10;
}
.box p {
  @apply m-0;
}
/* Product area start  */
.products {
  @apply flex justify-center gap-10;
}
.product {
  border: 1px;
  @apply w-80 border-gray-200 border-solid pl-7 mb-10;
}
.product img {
  @apply w-32 h-28 pt-14 pb-8;
}
.product h4 {
  @apply text-3xl my-4;
}
.product p {
  @apply text-xl my-4;
}
.product button {
  @apply bg-blue-600 py-3 px-10 rounded-full text-white text-xl mt-10;
}
/* get start here  */
.get-start {
  @apply ml-48 mt-20;
}
.get-start h1 {
  @apply text-6xl;
}
.get-start p {
  @apply text-2xl my-10;
}
.get-start h4 {
  @apply text-3xl mt-20;
}
/* Pages Start here  */
.pages {
  @apply ml-48 mt-20;
}
.pages span {
  @apply text-red-600;
}
.pages h1 {
  @apply text-6xl my-10;
}
.pages p {
  @apply text-xl mb-10;
}
.pages h3 {
  @apply text-3xl mt-10 mb-5;
}
/* template start   */
.template {
  @apply ml-48 mt-20;
}
.template ul{
  @apply list-none;
}.template ul li{
  @apply my-4 text-lg ml-10;
}
.template h1 {
  @apply text-6xl my-10;
}
.template p {
  @apply text-xl mb-10;
}
.template h3 {
  @apply text-3xl mt-10 mb-5;
}
